<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" bgcolor="#f3f3f3" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td
						align="center"
						style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333333; line-height: 14px; mso-line-height-rule:exactly; text-align: center; padding-top: 3px; padding-bottom: 4px;"
						valign="top"
					>
						No images?
						<a alias="View Online" href="%%view_email_url%%" style="text-decoration: underline; color: #333333;" target="_blank"
							><span style="text-decoration: underline; color: #333333;">View online</span></a
						>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
