<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<table align="center" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width:800px;">
				<tr>
					<!--[if mso
						]><td align="center" width="40" styclass="hide-d"></td>
						<td align="center" width="40" styclass="hide-d"></td
					><![endif]-->

					<td align="center" bgcolor="#ffffff" class="table_responsive" style="padding-bottom: 20px;" valign="top">
						<img
							title="Offer"
							border="0"
							class="desktop"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/2be5e77a-637e-4ac7-86e1-382ef51c0d7a.png"
							style="display:block; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;width: 800px;"
							width="800"
						/>
						<!--[if !mso]><!-->

						<img
							title="Offer"
							border="0"
							class="show-mobile-gmail"
							height="auto"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/3dde643d-49f9-4e65-ba04-4f3393bac7ea.png"
							style="display:none; font-size:0; line-height:0; mso-hide: all;max-height: 0; max-width: 0; width:0; -ms-interpolation-mode: bicubic;"
						/>
						<!--[endif]-->
					</td>

					<!--[if mso
						]><td align="center" width="40" styclass="hide-d"></td>
						<td align="center" width="40" styclass="hide-d"></td
					><![endif]-->
				</tr>
			</table>
		</td>
	</tr>
</table>
