<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td
						align="center"
						style="font-family: Helvetica, Arial, sans-serif;font-size: 28px;mso-line-height-rule:exactly;line-height: 32px;color: #00a3ad;padding: 0px 20px 10px;"
					>
						Your plan. Your way.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<th class="stack-column" width="265">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="center" class="desktop">
									<img
										alt="yes-optus"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/dc9b5bd6-8d5d-4a08-b586-12643c71ad04.png"
										style="display:block;"
										title="Optus"
										width="265"
									/>
								</td>
								<td align="center" class="mobile" style="mso-hide: all;display:none;">
									<img
										alt="yes-optus"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/57611ebc-fca8-4bdb-bb3c-dfe89868575e.png"
										title="Optus"
										width="100%"
									/>
								</td>
							</tr>
						</table>
					</th>
					<th align="center" class="stack-column" style="font-weight: normal;" width="265">
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							height="219"
							style="font-family: Helvetica, Arial, sans-serif;"
							width="100%"
						>
							<tr>
								<td align="left" style="background-color:#ebebeb;padding: 15px 20px;font-family: Helvetica,Arial, sans-serif;">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td
												align="left"
												style="font-size:16px; font-weight: bold; color: #00a3ad;padding-bottom: 13px; vertical-align: middle;"
											>
												<img
													alt=""
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/051a0c80-51cc-4983-bde4-f38422351183.png"
													style="vertical-align: -4px;"
													width="16"
												/>
												&nbsp; No lock in contracts
											</td>
										</tr>
										<tr>
											<td align="left" style="font-size:16px; color: #000000; mso-line-height-rule:exactly;line-height:18px;">
												We think you&rsquo;ll love our new SIM plans. That&rsquo;s why we&rsquo;re not locking you in.
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" style="background-color:#ebebeb;padding: 0px 20px 20px;font-family: Helvetica,Arial, sans-serif;">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td
												align="left"
												style="font-size:16px; font-weight: bold; color: #00a3ad;padding-bottom: 13px; vertical-align: middle;"
											>
												<img
													alt=""
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/4f76b94b-803b-477d-82eb-f84b751c6718.png"
													style="vertical-align: -4px;"
													width="16"
												/>
												&nbsp; Plans that flex with you
											</td>
										</tr>
										<tr>
											<td align="left" style="font-size:16px; color: #000000;mso-line-height-rule:exactly;line-height:18px;">
												Add or remove features from your SIM plan each month.
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding:0px 10px 40px 10px">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" table="" width="530">
				<tr>
					<td style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color:#000000; text-align: left;">
						Optus branded consumer mobile services. Net adds half year to Jun 19.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
