<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td align="center" style="padding: 0px 10px 20px 10px; background-color: #ffffff;">
			<table border="0" cellspacing="0" cellpadding="0" width="530" class="table_responsive">
				<tr>
					<!-- <td
						style="font-family:Helvetica,Arial,sans-serif; font-size:22px ;line-height:36px ;font-weight:bold ;color: #6b1f7c ;border-bottom: 2px solid #f1edea ;"
					>
						Here are your options.
					</td> -->
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 5px;
							font-weight: bold;
							color: #6b1f7c;
						"
					>
						Here are your options.
					</td>
				</tr>
				<tr>
					<td style="padding-top: 10px;">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td style="font-size: 30px; padding: 0px 18px; mso-line-height-rule: exactly; line-height: 26px;" valign="top">
									&#8226;
								</td>
								<td
									style="
										font-family: Helvetica, Arial, sans-serif;
										font-size: 16px;
										mso-line-height-rule: exactly;
										line-height: 24px;
										padding-bottom: 20px;
										color: #000000;
									"
								>
									Do nothing! We’ll switch you to the Optus plan we’ve suggested for you above.
								</td>
							</tr>
							<tr>
								<td style="font-size: 30px; padding: 0px 18px; mso-line-height-rule: exactly; line-height: 26px;" valign="top">
									&#8226;
								</td>
								<td
									style="
										font-family: Helvetica, Arial, sans-serif;
										font-size: 16px;
										mso-line-height-rule: exactly;
										line-height: 24px;
										padding-bottom: 20px;
										color: #000000;
									"
								>
									Choose a different Optus plan and switch before we automatically switch your service within the date range above.
								</td>
							</tr>
							<tr>
								<td style="font-size: 30px; padding: 0px 18px; mso-line-height-rule: exactly; line-height: 26px;" valign="top">
									&#8226;
								</td>
								<td
									style="
										font-family: Helvetica, Arial, sans-serif;
										font-size: 16px;
										mso-line-height-rule: exactly;
										line-height: 24px;
										padding-bottom: 20px;
										color: #000000;
									"
								>
									If you don’t want to be automatically switched to the suggested Optus plan, you can opt out by visiting
									<a
										href="%%=RedirectTo(CloudPagesURL(672,'service_number',sfmc_service_number,'batch_id',migration_batch_no,'wave_id',@WaveId))=%%"
										style="color: #6b1f7c; text-decoration: underline;"
										>here</a
									>. You need to do this by <span style="font-weight: bold;">%%=v(@ExpiryDate)=%%</span>. If you choose to opt out,
									your service will be cancelled on <span style="font-weight: bold;">30 June 2020</span>. If you choose to opt out
									and want to keep your number, <span style="font-weight: bold;">you’ll need to port your service</span> to a
									different Optus plan or to another provider before 30 June 2020.
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
							color: #000000;
						"
					>
						If you have any questions, please
						<span style="font-weight: bold;"
							>check out the FAQs online at
							<a href="https://www.virginmobile.com.au/more-info" style="color: #6b1f7c; text-decoration: underline; font-weight: bold;"
								>virginmobile.com.au/more-info</a
							>,</span
						>
						send an email via
						<a
							href="https://www.virginmobile.com.au/myaccount/askaquestion"
							style="color: #6b1f7c; text-decoration: underline; font-weight: bold;"
							>My Account</a
						>
						or call us on 1300 555 100. Please note our people are busier than usual due to the impacts of COVID-19, which could lead to a
						delay in responding to your call.
					</td>
				</tr>

				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
							color: #000000;
						"
					>
						Thanks,
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							color: #000000;
						"
					>
						Emma Jensen <br />
						<span style="font-weight: bold;">Director, Virgin Mobile </span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
