<table border="0" cellpadding="0" cellspacing="0" width="100%" id="footer">
	<tr>
		<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width:800px;">
				<tr>
					<td class="table_responsive" style="display:block;">
						<img
							alt="line"
							height="4"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/78269cb0-5627-4d14-ba14-def291bb0ddb.png"
							style="display:block;"
							width="100%"
						/>
					</td>
				</tr>
				<tr>
					<td style="background-color: #404040; padding: 30px 10px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<td align="center">
									<table
										align="center"
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="center-on-narrow"
										style="font-size:12px;display:table !important;"
									>
										<tr>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a
													href="https://www.virginmobile.com.au/contact-virgin-mobile/"
													style="color: #fff;text-decoration: underline;"
													>Contact Us</a
												>
											</td>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a href="https://www.virginmobile.com.au/privacy/" style="color: #fff;text-decoration: underline;"
													>Privacy Policy</a
												>
											</td>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a
													href="%%=RedirectTo(CloudpagesURL(370,'sub',_subscriberkey))=%%"
													style="color: #fff;text-decoration: underline;"
													>Unsubscribe</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
