<table border="0" cellpadding="0" cellspacing="0" width="100%" id="footer">
	<tr>
		<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width: 800px;">
				<tr>
					<td class="table_responsive" style="display: block;">
						<img
							alt="line"
							height="4"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/78269cb0-5627-4d14-ba14-def291bb0ddb.png"
							style="display: block;"
							width="100%"
						/>
					</td>
				</tr>
				<tr>
					<td style="background-color: #404040; padding: 30px 10px; font-family: Helvetica, Arial, sans-serif; color: #ffffff;">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<td align="right">
									<table
										align="right"
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="center-on-narrow"
										style="font-size: 12px; display: table !important;"
									>
										<tr>
											<td style="padding: 0 10px; font-size: 12px; line-height: 16px;">
												<a
													href="https://www.virginmobile.com.au/contact-virgin-mobile/"
													style="color: #fff; text-decoration: underline;"
													>Contact Us</a
												>
											</td>
											<td style="padding: 0 10px; font-size: 12px; line-height: 16px;">
												<a href="https://www.virginmobile.com.au/privacy/" style="color: #fff; text-decoration: underline;"
													>Privacy Policy</a
												>
											</td>
											<td style="padding: 0 10px; font-size: 12px; line-height: 16px;">
												<a
													href="%%=RedirectTo(CloudpagesURL(370,'sub',_subscriberkey))=%%"
													style="color: #fff; text-decoration: underline;"
													>Unsubscribe</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="color: #fff; font-size: 12px;">
										<tr>
											<td style="padding: 20px 0; font-weight: bold; font-size: 12px; text-decoration: none !important;">
												<span style="display: inline-block !important;">The Fine Print:</span>
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 20px; font-weight: bold; font-size: 12px; text-decoration: none !important;">
												<span style="display: inline-block !important;">FAIR GO POLICY APPLIES.</span>
											</td>
										</tr>
										<tr>
											<td style="line-height: 18px; font-size: 12px; text-decoration: none !important;">
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">OUR CHANGES TO PLANS (MONTH TO MONTH): </span> We may make
													changes to your month-to-month mobile plan, options and add-ons, including changes to the plan
													price or inclusions. This could include moving you to a new plan, option or add-on which may cost
													more. If we increase your plan price or add-on fees (additional data, international talk & text or
													roaming), decrease your included data or move you to a new plan, we will give you at least 30
													days’ notice of these changes. If you don’t like the changes, you can choose a new plan (once per
													billing period) or cancel your plan. For any other changes we make to your plan that we reasonably
													believe may adversely impact on you, we will give you reasonable notice of those changes. See your
													plan’s CIS for more information.
												</p>

												<!-- %%[ IF @OptusPlanCost == '39' OR @OptusPlanCost == '49' OR @OptusPlanCost == '59' OR @OptusPlanCost == '79' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">OPTUS CHOICE PLANS (MONTH-TO-MONTH): </span> You can change your
													mobile plan to another eligible plan once per billing period or cancel your plan at any time. If
													you change your plan and you also have a related device payment plan, your device payment plan
													will remain in place and your device payments will remain the same. You may lose your existing
													add-ons and/or options if you change to a plan that is not eligible for these add-ons and/or
													options, and these will still be charged in full for your current billing period. If you need to
													cancel your mobile plan, there are no plan cancellation fees. However, if you have a related
													device payment plan then this will be cancelled and you’ll have to pay out any remaining payments
													for your device under that device payment plan and any device credits or discounts will be
													forfeited. You will also need to pay all charges, inclusive of those outside of your plan
													inclusions (including for services or accessories), which have been incurred up until the date of
													cancellation. This is subject to your Australian Consumer Law rights.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusPlanCost == '119' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">OPTUS ONE PLANS (MONTH-TO-MONTH): </span> You can change your
													mobile plan to another eligible plan once per billing period or cancel your plan at any time. If
													you change your plan and you also have a related device payment plan, your device payment plan
													will remain in place and your device payments will remain the same. You may lose your existing
													add-ons and/or options if you change to a plan that is not eligible for these add-ons and/or
													options, and these will still be charged in full for your current billing period. If you need to
													cancel your mobile plan, there are no plan cancellation fees. However, if you have a related
													device payment plan then this will be cancelled and you’ll have to pay out any remaining payments
													for your device under that device payment plan and any device credits or discounts will be
													forfeited. You will also need to pay all charges, inclusive of those outside of your plan
													inclusions (including for services or accessories), which have been incurred up until the date of
													cancellation. This is subject to your Australian Consumer Law rights. Limit of 6 services per
													account.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusPlanCost == '30' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">$30 MY PLAN PLUS SIM ONLY (NOV 18 SPECIAL): </span> Available to
													eligible customers who are invited by Optus to sign up to this plan. Available until withdrawn.
													You may experience a service outage of 15 minutes up to four hours overnight on the day of your
													migration.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusPlanCost == '119' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">INTERNATIONAL ROAMING INCLUSIONS: </span>$119 Optus One plan
													gives you unlimited standard national and international talk, SMS (excludes MMS) and an included
													amount of data to use per month in Zone 1 destinations (subject to change). For a list of
													destinations see
													<a
														href="https://www.optus.com.au/mobile/plans/international-roaming/postpaid-rates/"
														style="color: #ffffff; text-decoration: underline;"
														target="_blank"
														>optus.com.au/zone1</a
													>. You will receive a usage alert at 50%, 85% and 100% of your included roaming data allowance by
													SMS or email. If you exceed your included roaming data allowance and do not have Optus Roaming
													Pass active, standard international roaming rates apply for the destination you are in.
													Significantly higher charges may apply.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusPlanCost == '49' OR @OptusPlanCost == '59' OR @OptusPlanCost == '79' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">STANDARD INTERNATIONAL CALLS AND TEXT: </span> $49, $59 and $79
													Optus plan inclusions for standard international calls and text can be used from Australia to
													<a
														href="https://www.optus.com.au/content/optus/en/for-you/mobile/plans/international-talk---text.html"
														style="color: #ffffff; text-decoration: underline;"
														target="_blank"
														>35 selected destinations</a
													>. 'yes' International rates apply for excess and non-included usage. See
													<a
														href="https://www.optus.com.au/mobile/plans/international-minutes-pack"
														style="color: #ffffff; text-decoration: underline;"
														target="_blank"
														>optus.com.au/international</a
													>
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusPlanCost == '59' OR @OptusPlanCost == '79' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">INTERNATIONAL ROAMING INCLUSIONS: </span>$59 and $79 Optus plans
													gives you unlimited standard national and international talk, SMS (excludes MMS) and an included
													amount of data to use per month in Zone 1 destinations (subject to change). For a list of
													destinations see
													<a
														href="https://www.optus.com.au/mobile/plans/international-roaming/postpaid-rates/"
														style="color: #ffffff; text-decoration: underline;"
														target="_blank"
														>optus.com.au/zone1</a
													>. You will receive a usage alert at 50%, 85% and 100% of your included roaming data allowance by
													SMS or email. If you exceed your included roaming data allowance and do not have Optus Roaming
													Pass active, standard international roaming rates apply for the destination you are in.
													Significantly higher charges may apply.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusPlanCost != '39' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">OPTUS ROAMING PASS: </span>Optus Roaming Pass is available to
													selected customers and includes unlimited standard talk (with mobile plans only) & SMS, plus 1GB
													data to use in eligible destinations. Active for 24-hours or until 1GB data is used, whichever
													comes first. If you continue to roam in eligible destinations, we’ll automatically charge you
													another $10 for another pass and the 24-hour timer restarts. Unused data expires.
													<span style="font-weight: bold;"
														>Eligible destinations are subject to change, see current list at
														<a
															href="https://www.optus.com.au/mobile/plans/international-roaming"
															style="text-decoration: underline; color: #ffffff;"
															target="_blank"
															>optus.com.au/roamingrates</a
														>.
													</span>
													If you have International Roaming inclusions in your plan or an International Roaming option,
													Optus Roaming Pass will not start until you have used those inclusions. For more information,
													click
													<a
														href="https://www.optus.com.au/for-you/mobile/plans/international-roaming/optus-roaming-pass"
														style="text-decoration: underline; color: #ffffff;"
														target="_blank"
														>here</a
													>.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">DATA POOL: </span>Eligible services under the same billing
													account. All for use in Australia. Unused data in the Data Pool expires at the end of each billing
													period. If you use more than your included data (either on your device or any connected device)
													we’ll automatically give you another 1GB for $10.
												</p>

												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">USAGE ALERTS: </span>Usage alerts are not real-time and delays of
													up to 48 hours may be experienced.
												</p>

												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">ADDITIONAL DATA: </span>If you use more than 150GB of top-up data
													on a single billing account, we may continue to charge you at the same rates, restrict your data
													use or slow your speed to 256kbps until next billing period.
												</p>

												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">COVERAGE: </span>Coverage availability will vary depending on
													your device and location. Check coverage at
													<a
														href="https://www.optus.com.au/shop/mobile/network/coverage"
														style="text-decoration: underline; color: #ffffff;"
														target="_blank"
														>optus.com.au/coverage</a
													>
													based on your address and device.
												</p>

												<!-- %%[ IF @OptusPlanCost == '49' OR @OptusPlanCost == '59' OR @OptusPlanCost == '79' OR @OptusPlanCost == '119' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">OPTIONAL EXTRAS: </span> Available on a month by month basis and
													do not form part of your plan. You may cancel them at any time. Optus may change or withdraw an
													optional extra at any time and we will try and give you 21 days prior notice of a change. If an
													optional extra is cancelled, changed or withdrawn, you will be liable to pay charges for the
													optional extra service that remain active until the relevant billing cycle ends and your plan will
													continue for the rest of its term.
												</p>

												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">APPLE MUSIC: </span>
													Personal viewing in Australia. Fair Go Policy applies. Data charges apply. Compatible device and
													Australian Apple ID required. Apple Music with Optus is a month-to-month optional extra and does
													not form part of any Optus plan. Full terms at
													<a
														href="https://www.optus.com.au/content/dam/optus/documents/for-you/entertainment/tv-movies-music/music/apple-music/terms/apple_music_with_optus_terms.pdf"
														style="text-decoration: underline; color: #ffffff;"
														target="_blank"
														>optus.com.au/applemusic/fullterms</a
													>. Apple Music terms apply to your use of Apple Music. Apple Music is a registered trademark of
													Apple Inc.
												</p>

												<p style="display: inline-block !important;">
													<span style="font-weight: bold;"
														>OPTUS SPORT: Subscription required. Fair Go Policy applies. Personal Viewing in Australia
														Only.
													</span>
													Content and features vary by sport and are subject to change. This is a month-to-month
													subscription and does not form any part of an Optus plan. Some data charges apply for Optus Sport.
													Optus Sport is delivered using Adaptive Bitrate Streaming Technology at a resolution of up to
													720p. Optus Sport will work best with an internet bandwidth of 3Mbps or greater (7Mbps or greater
													for 2nd Gen. Fetch boxes). Use of other internet applications on the same internet connection at
													the same time may cause a degradation in video quality.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF NOT EMPTY(@OptusBonusData) THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">BONUS DATA: </span>
													Available to selected customers who are invited by Optus to take up this offer and who have their
													mobile service automatically switched (Auto Migrated) to an Optus plan. The inclusion will appear
													on the customer’s Optus bill. Available until withdrawn. The selected customers will be offered a
													bolt-on inclusion to the recommended Optus plan at no additional cost ($0) for bonus data. The
													inclusion is removed from the customer’s plan after 24 months, or if the customer changes to a
													different rate plan.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF NOT EMPTY(@OptusDiscountText) THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">ACCESS FEE DISCOUNT: </span>
													Available to selected customers who are invited by Optus to take up this offer and who have their
													mobile service automatically switched (Auto Migrated) to an Optus plan. The discount applies to
													plan fee only and will appear on the customer’s Optus bill. The discount applies for 24 months and
													is forfeited if the customer changes to a different rate plan or cancels. Available until
													withdrawn.
												</p>
												<!-- %%[ ENDIF ]%% -->

												<!-- %%[ IF @OptusInternationalCall == 'Unlimited with Bolton' THEN ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">FREE STANDARD INTERNATIONAL CALLS & TEXT BOLT ON: </span>
													Available to selected customers who are invited by Optus to take up this offer and who have their
													mobile service automatically switched (Auto Migrated) to an Optus plan. The Bolt On will appear on
													the customer’s Optus bill. Bolt On includes standard unlimited international calls & text to
													<a
														href="https://www.optus.com.au/content/optus/en/for-you/mobile/plans/international-talk---text.html"
														style="color: #ffffff; text-decoration: underline;"
														target="_blank"
														>35 Selected Destinations</a
													>
													from Australia. Offer available until withdrawn. Bolt On applies 24 months. Forfeited if you
													change to a different rate plan or cancel.
												</p>
												<!-- %%[ ENDIF ]%% -->
												<p style="display: inline-block !important;">
													<span style="font-weight: bold;">1 MONTH FREE ACCESS FEE OFFER: </span>
													Available to selected customers who are invited by Optus to take up this offer and who have their
													mobile service automatically switched to an Optus plan. The discount will appear on the first
													bill. Discount applies to the plan fee only and excludes usage or device repayment fees. Forfeited
													if you change or cancel your new Optus service. Available until withdrawn.
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
