<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding: 10px 10px 20px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
						"
					>
						Hi%%=IIF(EMPTY(@FirstName),'',CONCAT(' ',PROPERCASE(TRIM(@FirstName))))=%%,
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
						"
					>
						As you know, the Virgin Mobile brand is being phased out in June 2020, and we want to make sure that you’re ready and that you
						stay connected.
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 5px;
							color: #6b1f7c;
							font-weight: bold;
						"
					>
						What it means for you
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
						"
					>
						To make sure you’re not without a service, we’d like to switch your service ending in %%=v(@ServiceNumber)=%% to the Optus
						plan below. It’s been modified for Virgin Mobile customers to give you what you’re used to, plus some more.
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
							padding-right: 20px;
						"
					>
						You can opt out of the switch by visiting
						<a
							href="%%=RedirectTo(CloudPagesURL(672,'service_number',sfmc_service_number,'batch_id',migration_batch_no,'wave_id',@WaveId))=%%"
							style="color: #6b1f7c; text-decoration: underline;"
							>here</a
						>
						by %%=v(@ExpiryDate)=%%. If you do opt out, your existing Virgin Mobile service will be cancelled on
						<br class="desktop" />30 June 2020.
					</td>
				</tr>
				<!-- %%[ IF @SANSegmentId == "T8" THEN ]%% -->
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
						"
					>
						If you have another Virgin Mobile service, hold tight. We will be in touch about that service separately.
					</td>
				</tr>
				<!-- %%[ ENDIF ]%% -->
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 5px;
							color: #6b1f7c;
							font-weight: bold;
						"
					>
						What happens next?
					</td>
				</tr>

				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
							padding-right: 20px;
						"
					>
						You don’t need to do anything to get your new plan. If we don’t hear from you, we’ll make the switch overnight between
						%%=v(@MigrationFromDate)=%% to <br class="desktop" />%%=v(@MigrationToDate)=%%.
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 20px;
						"
					>
						You’ll get
						<span style="font-weight: bold; color: #009999;">your first month’s access fee free</span>%%=IIF(@OCNSegmentId == "T4" OR
						@OCNSegmentId == "T5"," and we’ll waive the remaining months of your current contract","")=%% if you automatically switch to
						the Optus plan below, you’ll also keep your number and your SIM. As your Virgin Mobile service already uses the Optus network,
						you’ll continue to get the same great network coverage and performance you have now.
					</td>
				</tr>
				<tr>
					<td
						style="
							font-family: Helvetica, Arial, sans-serif;
							font-size: 16px;
							line-height: 24px;
							mso-line-height-rule: exactly;
							padding-bottom: 5px;
							color: #6b1f7c;
							font-weight: bold;
						"
					>
						Here’s the plan we’re suggesting
					</td>
				</tr>
				<tr>
					<td style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; mso-line-height-rule: exactly;">
						The table sets out the key features of your current plan and your new plan. As there are differences between the two, you
						should review this carefully to ensure the new plan is right for you.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
