<!-- %%[
	SET @PremiumContentCopy = ""
	IF NOT EMPTY(@OptusSport) AND @OptusSport != "NA" AND (EMPTY(@OptusAppleMusic) OR @OptusAppleMusic == "NA") THEN
		SET @PremiumContentCopy = "You’ll also enjoy access to premium content with Optus Sport."

	ELSEIF NOT EMPTY(@OptusAppleMusic) AND @OptusAppleMusic!= "NA" AND (EMPTY(@OptusSport) OR @OptusSport == "NA") THEN
		SET @PremiumContentCopy = "You’ll also enjoy access to premium content with Apple Music."

	ELSEIF NOT EMPTY(@OptusAppleMusic) AND @OptusAppleMusic!= "NA" AND NOT EMPTY(@OptusSport) AND @OptusSport != "NA" THEN
		SET @PremiumContentCopy = "You’ll also enjoy access to premium content with Optus Sport & Apple Music."
	ENDIF
]%% -->

<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td align="center" style="padding: 0px 10px 20px 10px; background-color: #ffffff;">
			<table border="0" cellspacing="0" cellpadding="0" width="530" class="table_responsive">
				<!-- <tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif; font-size:22px ;line-height:36px ;font-weight:bold ;color: #6b1f7c ;border-bottom: 2px solid #f1edea ;"
					>
						Check out how your new Optus plan compares
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif; font-size:16px ;line-height:24px ;mso-line-height-rule:exactly;padding: 20px 0px;color: #000000;"
					>
						You'll be switched to the Optus plan below as we believe it's best suited to your current neeeds. However, you can make
						changes to your plan both prior, or after the migration date.
					</td>
				</tr> -->
				<tr>
					<td style="padding-bottom: 20px;">
						<table
							border="0"
							cellspacing="0"
							cellpadding="0"
							width="100%"
							style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; color: #000000;"
						>
							<tr>
								<td
									style="
										padding: 20px;
										background-color: #6b1f7c;
										font-weight: bold;
										font-size: 16px;
										color: #ffffff;
										border: #e6e6e6 solid 1px;
									"
									align="center"
									width="50%"
								>
									Your current monthly plan
								</td>
								<td
									style="
										padding: 20px;
										background-color: #006280;
										font-weight: bold;
										font-size: 16px;
										color: #ffffff;
										border: #e6e6e6 solid 1px;
									"
									align="center"
									width="50%"
								>
									Your new monthly plan
								</td>
							</tr>

							<!-- Plan Cost -->
							<tr>
								<td style="border: #e6e6e6 solid 1px; font-size: 16px; padding: 15px; font-weight: bold;" align="center" valign="top">
									%%=IIF(IndexOf(@VirginPlanCost,'.') > 0,Format(@VirginPlanCost,"C2"),Concat('$',@VirginPlanCost))=%%
								</td>
								<td style="border: #e6e6e6 solid 1px; font-size: 16px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<!-- %%[ IF EMPTY(@OptusPlanCostWithDiscount) THEN ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												%%=IIF(IndexOf(@OptusPlanCost,'.') > 0,Format(@OptusPlanCost,"C2"),Concat('$',@OptusPlanCost))=%%
											</td>
										</tr>
										<!-- %%[ ELSE ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												%%=IIF(IndexOf(@OptusPlanCostWithDiscount,'.') >
												0,Format(@OptusPlanCostWithDiscount,"C2"),Concat('$',@OptusPlanCostWithDiscount))=%%
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 12px; padding-bottom: 5px;">
												($%%=v(@OptusPlanCost)=%% with %%=LOWERCASE(@OptusDiscountText)=%% on plan fees only)
											</td>
										</tr>
										<!-- %%[ ENDIF ]%% -->
										<tr>
											<td align="center" style="font-size: 12px;">
												Month to Month
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<!-- Plan Data Inclusion -->
							<tr>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												%%=v(@VirginData)=%%GB data
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px;">
												$10 per extra 1GB
											</td>
										</tr>
									</table>
								</td>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<!-- %%[ IF EMPTY(@OptusDataWithBonus) THEN]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												%%=v(@OptusData)=%%GB data
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px; padding-bottom: 5px;">
												$10 per extra 1GB
											</td>
										</tr>
										<!-- %%[ ELSE ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												%%=v(@OptusDataWithBonus)=%%GB data
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px; padding-bottom: 5px;">
												$10 per extra 1GB
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 12px; padding-bottom: 5px;">
												%%=v(@OptusData)=%%GB + %%=v(@OptusBonusData)=%%GB Bonus data for 24 months
											</td>
										</tr>
										<!-- %%[ ENDIF ]%% -->
									</table>
								</td>
							</tr>

							<!-- Standard National Talk & Text -->
							<tr>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												%%=IIF(@VirginNationalCall == 'Unltd','Unlimited','Limited')=%%
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;" valign="top">
												Standard National Talk & Text
											</td>
										</tr>
									</table>
								</td>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												Unlimited
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												Standard National Talk & Text
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px;">
												Standard Australian mobiles and landlines. 13/1300 numbers and voicemail. Standard national SMS and
												MMS.
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<!-- International Talk & Text -->
							<tr>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												$%%=IIF(EMPTY(@VirginInternationalCall),'0',@VirginInternationalCall)=%%
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												International Talk & Text Credit
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px;">
												Rates
												<a
													href="https://www.virginmobile.com.au/international-calls/"
													style="color: #6b1f7c; text-decoration: underline;"
													>here</a
												>
											</td>
										</tr>
									</table>
								</td>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<!-- %%[ IF EMPTY(@OptusInternationalCall) OR @OptusInternationalCall == "NA" THEN ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												Pay as you go available
											</td>
										</tr>
										<!-- %%[ ELSEIF @OptusInternationalCall == "Unlimited" THEN]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px; font-weight: bold;">
												Unlimited
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												International Talk & Text
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												From Australia to 35 selected destinations
											</td>
										</tr>
										<!-- %%[ ELSEIF @OptusInternationalCall == "Unlimited with Bolton" THEN ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												<span style="font-weight: bold;">Bonus</span> International Talk & Text
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												From Australia to 35 selected destinations (for 24 months)
											</td>
										</tr>
										<!-- %%[ ENDIF ]%% -->
										<tr>
											<td align="center" style="font-size: 11px;">
												Rates
												<a
													href="https://www.optus.com.au/mobile/plans/international-minutes-pack"
													style="color: #6b1f7c; text-decoration: underline;"
													target="_blank"
													>here</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<!-- Roaming -->
							<tr>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												Pay as you go International Roaming available
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px;">
												Rates
												<a
													href="https://www.virginmobile.com.au/international-roaming/#section-zones-rates"
													style="color: #6b1f7c; text-decoration: underline;"
													target="_blank"
													>here</a
												>
											</td>
										</tr>
									</table>
								</td>
								<td style="border: #e6e6e6 solid 1px; padding: 15px;" align="center" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%">
										<!-- %%[ IF NOT EMPTY(@OptusRoaming) AND @OptusRoaming != "NA" THEN ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												<span style="font-weight: bold;">%%=v(@OptusRoaming)=%%GB</span> included roaming data to Zone 1
												destinations
											</td>
										</tr>
										<!-- %%[ ENDIF ]%% -->
										<tr>
											<td align="center" style="font-size: 16px; padding-bottom: 5px;">
												Pay as you go or Optus Roaming Pass available
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size: 11px;">
												Rates
												<a
													href="https://www.optus.com.au/mobile/plans/international-roaming/postpaid-rates"
													style="color: #6b1f7c; text-decoration: underline;"
													target="_blank"
													>here</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr>
								<td style="border: #e6e6e6 solid 1px; padding: 15px; font-size: 16px;" align="center" valign="top">
									For a full summary of your plan visit the
									<a
										href="https://www.virginmobile.com.au/critical-information-summaries/"
										style="color: #6b1f7c; text-decoration: underline;"
										target="_blank"
										>Critical Information Summary</a
									>
									and look up your plan
								</td>
								<td style="border: #e6e6e6 solid 1px; padding: 15px; font-size: 16px;" align="center" valign="top">
									For a full summary of the Optus plan details check the
									<a href="%%=RedirectTo(v(@OptusCISUrl))=%%" style="color: #6b1f7c; text-decoration: underline;" target="_blank"
										>Critical Information Summary</a
									>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 20px; mso-line-height-rule: exactly;">
						This plan with any bonus or discounts shown, is only available for the mobile service mentioned above. If you switch to an
						Optus plan, you will no longer have access to %%=IIF(@VirginDataRollOver == "Y","Data Rollover or","")=%% Data Gifting. If you
						switch to this Optus plan, Virgin Mobile (Australia) Pty Limited ABN 67 092 726 442, which is part of the Singtel Optus Group,
						will continue to provide the service to you but the service will be provided under the
						<a
							href="https://www.optus.com.au/content/dam/optus/documents/about-us/legal/Welcome-Pack.pdf"
							target="_blank"
							style="text-decoration: underline; color: #6b1f7c;"
							>Optus Standard Agreement</a
						>.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
