@font-face {
	font-family: 'ionicons';
	src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.eot');
	src: local('☺'), url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.eot?#iefix') format('embedded-opentype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.ttf') format('truetype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.woff') format('woff'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.svg#ionicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (max-device-width: 480px) {
	@font-face {
		font-family: 'ionicons';
		src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.woff') format('woff'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.ttf') format('truetype'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ionicons.svg#ionicons') format('svg');
	}
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.eot');
	src: local('☺'), url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.woff') format('woff'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.svg#ionicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (max-device-width: 480px) {
	@font-face {
		font-family: 'ProximaNova-Light';
		src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.woff') format('woff'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Light-webfont.svg#ionicons') format('svg');
	}
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.eot');
	src: local('☺'), url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.svg#ionicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (max-device-width: 480px) {
	@font-face {
		font-family: 'ProximaNova-Regular';
		src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Reg-webfont.svg#ionicons') format('svg');
	}
}
@font-face {
	font-family: 'ProximaNova-SemiBold';
	src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.eot');
	src: local('☺'), url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
		url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.svg#ionicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (max-device-width: 480px) {
	@font-face {
		font-family: 'ProximaNova-SemiBold';
		src: url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
			url('https://vma-font.s3-ap-southeast-2.amazonaws.com/fonts/ProximaNova-Sbold-webfont.svg#ionicons') format('svg');
	}
}
