body,
html {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	transition: all 1000ms;
	font-size: 0.9em;
}
body {
	background-color: #404040;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'ProximaNova-Regular', 'ProximaNova-SemiBold', 'ProximaNova-Light', Verdana;
	margin: 10px 0;
	font-weight: normal;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
dl,
ol,
p,
ul {
	line-height: 1.2em;
}
ul {
	list-style-type: circle;
	margin: 0 0 10px 25px;
}
li {
	line-height: 20px;
}

.banner-text {
	padding: 20px;
	line-height: normal;
}
.text-bold {
	font-family: 'ProximaNova-SemiBold', Verdana;
	font-weight: bold;
}
.content-heading {
	padding: 0 12px;
	max-width: 720px;
	margin: auto;
}
.content-body {
	padding: 0 12px 20px;
	max-width: 460px;
	margin: auto;
	font-size: 16px;
	line-height: 20px;
}
.content-body__tip {
	font-size: 14px;
}
.content-vertical-bar {
	height: 1px;
	max-width: 300px;
	background-color: #6b1f7c;
	margin: auto;
	margin-bottom: 20px;
}
.content-body-subheading {
	padding: 0px 12px 20px;
	max-width: 450px;
	margin: auto;
	font-size: 16px;
	color: #6b1f7c;
	font-weight: bold;
}

.content-checkbox {
	max-width: 350px;
	margin: auto;
	padding: 0px 18px 20px;
	display: flex;
	justify-content: space-around;
}
.content-checkbox__box {
	width: 15%;
}
.content-checkbox__label {
	width: 85%;
	font-size: 14px !important;
	line-height: 20px !important;
	text-align: left;
}
.content-select {
	max-width: 400px;
	margin: auto;
	padding: 20px 18px 20px;
	text-align: center;
}
.content-select__text {
	font-family: 'ProximaNova-Regular', 'ProximaNova-SemiBold', 'ProximaNova-Light', Verdana;
	font-size: 16px;
	padding-bottom: 10px;
}
.content-select select {
	font-family: 'ProximaNova-Regular', 'ProximaNova-SemiBold', 'ProximaNova-Light', Verdana;
	border-color: #6b1f7c;
	outline: none;
	font-size: 16px;
	height: 35px;
	width: 350px;
	color: #000000;
}

.customer-confirm {
	position: relative;
	margin: 0 !important;
	left: -8px;
}

.content-help-container {
	text-align: center;
	background-color: #fff;
	padding: 0px 15px 40px;
}
.content-help {
	background-color: #f1edea;
	max-width: 500px;
	margin: auto;
	padding: 40px 50px;
}

.content-help__heading {
	color: #6b1f7c;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 20px;
}

.content-help__body {
	font-size: 16px;
	line-height: 20px;
}

.content-help__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content-help__item {
	padding: 20px;
}

.content-help__button {
	background-color: #6b1f7c;
	text-decoration: none;
	cursor: pointer;
	padding: 12px 20px;
	color: #fff;
	font-size: 16px;
	display: block;
	margin-top: 20px;
}
.content-help__button:hover {
	color: #fff;
	text-decoration: none;
}
.content-help__button:visited,
.content-help__button:focus,
.content-help__button:active {
	color: #fff;
	text-decoration: none;
}

.content-help__button::after {
	content: '›';
	font-size: 26px;
	vertical-align: -1.5px;
	padding-left: 10px;
}

.purple-link {
	color: #6b1f7c !important;
	text-decoration: underline;
}

.content-footer {
	padding: 0px 0px 20px;
}

.content-input {
	max-width: 320px;
	margin: auto;
	padding: 0px 18px 20px;
	text-align: left;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content-input__label {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #6b1f7c;
	position: relative;
	max-width: 350px;
	margin: auto;
}

.content-input__label::before {
	position: absolute;
	content: '1';
	color: #fff;
	background-color: #6b1f7c;
	padding: 4px 10px;
	border-radius: 50%;
	left: 10px;
	top: -3px;
}
.content-input__label:nth-child(4)::before {
	content: '2';
	padding: 4px 8px;
}

.content-input__mobile {
	font-size: 20px !important;
	border: none !important;
	border-bottom: 1px solid #6b1f7c !important;
	text-align: center;
	padding: 10px !important;
	width: 220px;
}
.content-input__mobile-error {
	border-color: red !important;
}

.content-input__tip {
	padding-bottom: 10px;
}

.content-input__tip-error {
	padding-bottom: 10px;
	color: red !important;
}

.container-body {
	padding: 0px;
	color: #000;
}
.banner {
	padding: 0;
	background: url('https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/6332e07e-03d7-4b16-a0f7-17a929250f1a.jpg') right top no-repeat;
	background-size: auto;
	position: relative;
	background-color: #f3edea;
	min-height: 280px;
}
.container-fluid {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.white {
	color: #ffffff;
}
.purple {
	color: #6b1f7c;
}
.box-header {
	padding: 1em 0;
}
.timer-wrapper {
	padding: 1.1em 0;
}
.heading-campaign {
	font-family: 'ProximaNova-SemiBold';
	font-size: 2em;
}
.number,
.unit {
	display: block;
	line-height: 1em;
}
.bg-grey {
	background: #f1edea !important;
}
.bg-red {
	background: #ca0d29 !important;
	color: #ffffff;
}
.bg-purple {
	background: #8a126c !important;
	color: #ffffff;
}
.border {
	border: 2px solid #e5e1de !important;
}
.no-top-padding {
	padding-top: 0;
}
.button {
	font-family: 'ProximaNova-Regular', 'ProximaNova-SemiBold', 'ProximaNova-Light', Verdana;
	background: #6b1f7c;
	font-size: 1.25em;
	margin: 0 0 0 0;
	transition: all 200ms;
}
.button:focus,
.button:hover {
	color: #6b1f7c !important;
	background: #e5e1de !important;
}
.button.btn-red {
	background: #ca0d29;
}
.button:after {
	content: '\276F';
	font-size: 100%;
	margin-left: 7px;
}
.intro {
	padding: 2em 0 0;
}
.intro-text {
	line-height: 1.4em;
}
.loader-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	z-index: 999;
}
.body-main {
	text-align: center;
}
.body-inner {
	background-color: #fff;
}
.padding-top-bottom-100 {
	padding: 0px 0 40px 0;
}
.padding-top-140 {
	padding: 100px 0 0 0;
}
.font-general {
	font-family: 'ProximaNova-Regular', 'ProximaNova-SemiBold', 'ProximaNova-Light', Verdana;
}
.heading-top {
	font-size: 50px;
	font-weight: bold;
	margin: 0 0 0 0;
}
.heading-top-padding {
	padding-bottom: 40px;
}
.heading-bottom {
	font-size: 28px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.body-heading-1 {
	font-size: 28px;
	color: #6b0d7a;
	padding-bottom: 20px;
	line-height: 34px;
	font-weight: normal;
}
.body-text-18 {
	font-size: 16px;
	line-height: 20px;
}

.plan-table-blue-background {
	background-color: #00a6af;
}
.plan-table-white-background {
	background-color: #ffffff;
}
.font-size-32 {
	font-size: 32px;
	line-height: 32px;
}
.font-size-12 {
	font-size: 12px;
}
.plan-1 {
	color: #fff;
}
.font-size-16 {
	font-size: 16px;
}
.font-bold {
	font-weight: bold;
}
.padding-bottom-x {
	padding-bottom: 3px;
}
.ribbon-blue {
	background-color: #00a6af;
	min-height: 2px !important;
	margin: 0 0 0 0;
	padding: 0;
}
.fine-print {
	background-color: #f4f4f4;
}
.ribbon-grey {
	background-color: #e5e5e5;
	min-height: 1px !important;
	margin: 0 0 0 0;
	padding: 0;
}
.font-color-1 {
	color: #7f7f7f;
}
.body-padding-1 {
	padding-top: 20px;
	padding-bottom: 10px;
}
.body-padding-2 {
	padding: 0px 15px 10px 15px;
}
.body-padding-3-1 {
	padding-top: 12px;
	padding-bottom: 0px;
}
.body-padding-3-3 {
	padding-bottom: 7px;
}
.font-letter-spacing {
	letter-spacing: 1px;
}
.body-padding-5-1,
.body-padding-7-1 {
	padding-top: 5px;
}
.body-padding-5-2,
.body-padding-7-2 {
	padding-bottom: 5px;
}
.body-padding-8 {
	padding: 15px 0 5px 0;
}
.horizantal-padding-x {
	padding-left: 10px;
	padding-right: 10px;
}
.body-padding-9 {
	padding-bottom: 10px;
}
.button-confirm-now {
	padding: 0px;
	border: none;
}

.btn-confirm {
	margin: 0;
}
.btn-confirm::after {
	vertical-align: -1px;
}

.btn {
	padding: 7px 20px;
	font-size: 20px;
	border-radius: 0px;
}
.btn-primary {
	background-color: #00a6af;
	border-color: #00a6af;
}
.custom-control {
	min-height: 0rem;
}
.btn-primary:focus,
.btn-primary:active {
	color: #fff !important;
	background: #00a6af !important;
	border-color: #00a6af !important;
}
.btn-primary:hover {
	background-color: #00a6af;
	border-color: #00a6af;
	color: #fff;
}
.button-symbol {
	font-size: 20px;
	font-weight: bold;
	padding-left: 5px;
}
.btn-primary__purple {
	background: #6b1f7c !important;
}
.btn-primary__purple:focus,
.btn-primary__purple:active {
	background: #6b1f7c !important;
	border-color: #6b1f7c !important;
}
.btn-primary__purple:hover {
	background: #636363 !important;
}
.body-padding-10 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.body-padding-11 {
	padding: 0 20px 30px 20px;
	font-size: 18px;
}
.body-padding-12 {
	padding: 25px 20px 0px 20px;
}
.body-padding-13 {
	padding: 25px 115px 15px 115px;
}
.body-padding-14 {
	padding-top: 20px;
}
.body-padding-15 {
	padding-bottom: 10px;
}
.body-padding-16 {
	padding-bottom: 20px;
}
.body-padding-17 {
	padding-bottom: 40px;
}
#header-container,
#footer-container {
	background: #404040;
}
#header-container .container {
	background: none;
	padding: 0;
}
#header-container,
header {
	z-index: 9999;
}
.top-padding-100 {
	padding-top: 100px;
}
.banner-padding-top {
	padding-top: 50px;
	background-color: #ffffff;
}
.vma-page-content > .container {
	padding-top: 0;
	padding: 0px;
}
.vertical_space_50 {
	min-height: 50px;
}
.footer-border {
	height: 6px;
	background: linear-gradient(#e3e3e3, #f4f4f4);
}
.footer-background-colour {
	background-color: #f4f4f4;
}
.footer-body-text {
	color: #000;
	text-align: left;
	font-size: 14px;
	line-height: 1.3;
}
.footer-row-padding {
	padding: 5px 0 5px 0;
}
@media screen and (max-width: 979px) {
	.top-padding-100 {
		padding-top: 20px;
	}
}

@media screen and (max-width: 500px) {
	.banner {
		background: url('https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/71ae4ffb-c44f-4c55-a4b5-e91dcf9fa4fa.jpg') center top
			no-repeat;
		background-size: auto;
		background-color: #f3edea;
		background-position: 50% 30px;
	}
}

@media screen and (max-width: 500px) {
	.mobile-hide {
		display: none;
	}

	.content-help {
		background-color: #f1edea;
		max-width: 500px;
		margin: auto;
		padding: 40px 20px;
	}

	.banner-text {
		height: 260px;
	}
	.btn-confirm::after {
		vertical-align: -1px;
		float: none;
	}
	.container-body {
		padding: 0;
	}
	.body-padding-8 {
		padding: 10px;
	}
	.top-padding-100 {
		padding-top: 20px;
	}
	.vertical_space_50 {
		min-height: 0px;
	}
	.body-text-18 {
		font-size: 14px;
		padding: 0;
	}
	.banner-padding-top {
		padding-top: 10px;
	}
	.box-header {
		padding: 0.2em 0;
	}
	.horizantal-padding-x {
		padding-left: 10px;
		padding-right: 10px;
	}
	.body-padding-16 {
		padding: 0 10px 20px 10px;
	}
	.body-padding-15 {
		padding: 0 10px 10px 10px;
	}
	.body-padding-14 {
		padding-top: 50px;
	}
	.padding-top-bottom-100 {
		padding: 20px 0 20px 0;
	}
	h3 {
		font-size: 1.2875rem;
	}
	.button {
		font-size: 1em;
	}
	.body-padding-11 {
		padding: 10px 15px 50px 15px;
		font-size: 18px;
		line-height: 20px;
	}
	.heading-top {
		font-size: 40px;
		font-weight: bold;
		margin: 0 0 0 0;
	}
	.heading-bottom {
		font-size: 18px;
	}
	.padding-top-bottom-80 {
		padding: 15px 30px 40px 30px;
	}
	.container-fluid {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
		margin-right: auto;
		margin-left: auto;
	}
	.padding-top-140 {
		padding: 0px 0 0 0;
	}
	.body-padding-12 {
		padding: 0px 10px 0px 10px;
	}
	.body-padding-13 {
		padding: 25px 10px 25px 10px;
	}
	.mobile-padding-hor-5 {
		padding: 0 35px 0 35px;
	}
}
.loader-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	z-index: 999;
}
